.contactContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.calendar{
    padding-top: 50px ;
}
.nameAndText{
    display: flex;
    flex-direction: row;
}
.nameOfApp{
    border-radius: 20px;
    padding-right: 20px;
}

.hourAndText{
    display: flex;
    flex-direction: row;
}
.hourOfApp{
    padding-right: 20px;
}

.lastButton{
    padding-top: 20px;
}
.saveButton{
    border-radius: 100px;
}
.saveButton:hover{
    background-color: rgba(0, 128, 0, 0.479);
}