.containerMake{
    text-align: center;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.firstNameMake{
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.firstNameTitleMake{
    padding-left: 10px;
}

.lastNameMake{
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding-left: 15px;
}

.lastNameTitleMake{
    padding-left: 10px;
}

.dateContainerMake{
    display: flex;
    flex-direction: column;
}

.dayPickerMake{
    justify-content: center;
    align-items: center;
}

.hourTitleMake{
    padding-left: 10px;
}

.hourPickerMake{
    display:flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.saveButtonMake{
    border-radius: 50px;
}

.saveButtonMake:hover{
    background-color: rgba(172, 255, 47, 0.63);
}