.Container{
    display: flex;
    height: 100vh;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgba(9, 96, 117, 0.671);
}
.textAndTitle{
   display: flex;
   flex-direction: row;
}
.squareStart{
  border: 5px dotted black;
}
.texts{
  padding-left: 20px;
  padding-right: 20px;
}
.titleStart{
  color: black;
  padding-top: 20px;
}
.phoneText{
  padding-right: 5px;
}

.passText{
  padding-right: 5px;
}

.containerButton{
  padding-bottom: 20px;
}

.startButton{
  border-radius: 50px;
}

.startButton:hover{
  background-color: rgba(0, 0, 0, 0.288);
}